<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" type="text/css" media="screen" href="/about.css">
</head>
<body>
    <div class="main">
        <div class="space"></div>
        <h1>About Our Alumni Platform</h1>
        <p>Welcome to our university alumni platform, where alumni students can connect and participate in various events organized by the group.</p>
        <p>Our mission is to facilitate collaboration, organization, and participation in alumni events. We provide a platform for alumni students to:</p>
        <ul>
            <li>Add and participate in events related to professional development.</li>
            <li>Network with fellow alumni students and industry professionals.</li>
            <li>Participate in campus events and activities.</li>
            <li>Connect with the alumni community and stay updated on upcoming events.</li>
        </ul>
        <p>Alumni students can log in to access these features and actively engage with the platform. Our alumni manager also has specific capabilities to oversee and manage events and user records.</p>
        <p>We believe that staying connected with fellow alumni students and participating in events can contribute to personal and professional growth. We encourage all alumni students to be part of our community and make the most of their alumni experience.</p>
    </div>
</body>
</html>
