<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/home.css">
</head>
<body>
    <div class="main">
        <div class="video-background">
        <video autoplay muted loop>
        <source src="/home.mp4" type="video/mp4">
        </video>
        </div>


        <div class="space"></div>
        <h1>Welcome to Alumni Connect: Reuniting for Success</h1>
        <h2>Join us today and be part of a thriving alumni community.</h2>
        
        <h2>We are here to help you reconnect, grow, and achieve success without limits.</h2>

         <a href="/login">Login</a>
         <a href="/signup">Sign Up</a>
         <a href="/about">About Us</a>
    </div>
</body>
</html>
