<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../manager.css">
</head>
<body>
    <div class="main">
        <div class="manager-container">
            <h1>Manager Dashboard</h1>
            <h2>Exclusively for Administrators</h2>
            <p>Welcome to the Manager Dashboard. This is your space to oversee, manage, and maintain the platform for our users.</p>
            <div class="manager-options">
                <a href="/add" class="option">Add Content</a>
                <a href="#" class="option">Delete Content</a>
                <a href="/edit" class="option">Edit Content</a>
                <a href="/analytics" class="option">View Analytics</a>
                <a href="/reports" class="option">Generate Reports</a>
                <!-- You can add more options as needed -->
            </div>
        </div>
    </div>
</body>
</html>
