! <!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../signup.css">
</head>
<body onload="loading()">
    <div id="loader"></div>
    <div style="display:none;" id="content" class="animate-bottom">
        <div class="main" id="myMain">
            <div class="pic"></div>
            <div class="details">
                <h1>Create Account</h1>
                {{#errors}}
                    <p id="error">{{msg}}</p>
                {{/errors}}
                <form method="POST" action="/signup">
                    <div id="step1" class="form-step">
                        <div class="form-group">
                            <i class="fas fa-user" style="color: #666;"></i>
                            <input type="text" name="alumni_name" placeholder="Alumniname">
                        </div>
                        <div class="form-group">
                            <i class="fas fa-envelope" style="color: #666;"></i>
                            <input type="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <i class="fas fa-graduation-cap" style="color: #666;"></i>
                            <input type="text" name="graduation_year" placeholder="Graduation Year">
                        </div>
                        <button onclick="nextStep(1)">Next</button>
                    </div>
                    <div id="step2" class="form-step">
                        <div class="form-group">
                            <i class="fas fa-university" style="color: #666;"></i>
                            <input type="text" name="university_name" placeholder="University Name">
                        </div>
                        <div class="form-group">
                            <i class="fas fa-lock" style="color: #666;"></i>
                            <input type="password" name="password" placeholder="Create Password">
                        </div>
                        <div class="form-group">
                            <i class="fas fa-lock" style="color: #666;"></i>
                            <input type="password" name="password2" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Register">
                        </div>
                    </div>
                </form>
                <div class="cre">
                    <a href="/login" class="create">Sign In</a>
                    <i class="fas fa-arrow-right fa-sm"></i>
                </div>
            </div>
        </div>
    </div>
    <script>
        var myVar;

        function loading() {
            myVar = setTimeout(showPage, 1500);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("content").style.display = "block";
        }

        function nextStep(step) {
            // Hide the current step
            const currentStep = document.getElementById(`step${step}`);
            currentStep.style.display = "none";

            // Show the next step
            const nextStep = document.getElementById(`step${step + 1}`);
            nextStep.style.display = "block";
        }
    </script>
</body>
</html> 
